extends ../layout

block content
  .page-header
    h3 Dog Information

  form.form-horizontal(action='/account/addDog', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Dog's Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name' placeholder='Ex: Fido')
      label.col-sm-3.control-label(for='name') Dog's Breed
      .col-sm-7
        input.form-control(type='text', name='breed', id='breed' placeholder='Ex: Chow Chow')
      label.col-sm-3.control-label(for='name') Dog's Weight (lb)
      .col-sm-7
        input.form-control(type='text', name='weight', id='weight' placeholder='Ex: 55')
      label.col-sm-3.control-label(for='name') Dog's Gender
      .col-sm-7
        input.form-control(type='text', name='gender', id='gender' placeholder='Ex: Male')
      label.col-sm-3.control-label(for='name') Dog's Age
      .col-sm-7
        input.form-control(type='text', name='age', id='age' placeholder='Ex: 04/15/2013')
      label.col-sm-3.control-label(for='name') Dog's Fixed
      .col-sm-7
        input.form-control(type='text', name='fixed', id='fixed' placeholder='Ex: Yes')
      label.col-sm-3.control-label(for='name') Dog's Temperament
      .col-sm-7
        input.form-control(type='text', name='tempermeant', id='tempermeant' placeholder='Ex: Calm')
      label.col-sm-3.control-label(for='name') Dog's Energy Level
      .col-sm-7
        input.form-control(type='text', name='energy_level', id='energy_level' placeholder='Ex: Medium')
      label.col-sm-3.control-label(for='name') About this Doggo
      .col-sm-7
        input.form-control(type='text', name='about', id='about' placeholder='Ex: I Woof')
    .form-group
      .col-sm-offset-3.col-sm-6
        button.btn.btn-success(type='submit')
          i.fa.fa-paw
          | Add Doggo
