extends layout

block content
  h1 Dashboard
  div
    h3 Nearby Dogs
    ul
      each person in result
        li
          each dog in person.dogs
            div
              a(href='/dog/'+dog._id)=dog.name
            div
              if dog.picture.length
                img(src=dog.picture[0], class='profile', width='200', height='200')
              else
                img(src='/imgs/default-dog.png', class='profile', width='200', height='200')