extends layout

block content
  style
    include ../public/css/home.css
  div.home
    div.container.header
      h1 Find Your Pup a BFF
      p Meet local Pups looking for playdates
    div.container.signup
      a(href='/signup') Sign Up
      